@charset "utf-8";
/*-------------------------------------------*/
/*	layout
/*-------------------------------------------*/
.blockOuter	{ display:block;overflow:hidden;width:100%; position:relative;clear:both; }
.vkCol,
.vkColInner	{ display:block; overflow:hidden; }
.vkCol.vkCol11	{ width:100%; }
.vkCol.vkCol12	{ width:50%;float:left; }
.vkCol.vkCol13	{ width:33.3%;float:left; }
.vkCol.vkCol23	{ width:66.6%;float:left; }
.vkCol.vkCol14	{ width:25%;float:left; }
.vkCol.vkCol24	{ width:50%;float:left; }
.vkCol.vkCol34	{ width:75%;float:left; }

.vkCol img	{ max-width:100%; }
.vkCol .wp-caption	{ max-width:95% !important; }
.vkCol .wp-caption img	{ max-width:95%;}